
/** {
  outline: solid 1px red;
} */

.background {
  background-image: url("img/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  text-align: center;
  padding: 0 0;
  margin: 0 0;
}


 .logo {
  text-decoration: none;
  font-family: "inter", sans-serif;
  font-style:normal;
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #28352F;
}



.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  margin-top: 20px;
  color: #172b4d;
}

.presentation {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #464b53;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 50px;
}

span {
  color: rgb(94, 139, 94);
}

.menu {
  justify-content: space-around;
  display: flex;
  list-style-type: none;
  overflow: hidden;
}

.hamburger {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.hide_mobile {
  display: none;
}

.hide_mobile li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.hide_mobile li a {
  color: black;
  font-size: 1rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

.connect {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  padding: 10px;
  margin-top: auto;
  
}

a {
  text-decoration: none;

}



.recent-works {
  font-family: "inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.scroll-down {
  margin: auto;
  text-align: center;
  border-width: 0.01em;
  background: white;
  border-style: solid;
  border-color: rgb(211, 210, 210);
  border-radius: 50%;
}

.indicator {
  text-align: center;
  margin-bottom: 20px;
}

.container3 {
  display: flex;
  width: 95%;
  margin: 0;
  flex-direction: column;
  align-items: center;
  margin-left: 0.4rem;
  text-align: center;
  background: white;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  border-style: solid;
}

.projectimg {
  max-width: 100%;
  max-height: 100%;
}

.cnt {
  display: inline-block;
}

/* .item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
  object-fit: cover;
  margin-bottom: 30px;
} */

.see-project {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: medium;
  text-align: center;
  color: white;
  height: 60px;
  width: 120px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
}

.see-project:hover {
  transition: background-color 0.5s;
  background-color: #36b37f;
  opacity: 0.9;
  cursor: pointer;
}

.container9 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  /* margin-left: auto; */
  text-align: center;
  background: white;
  border-style: none;
  border-radius: 8px;
}

.item9 {
  margin-bottom: 25px;
}

#aboutme {
  background-image: url("img/background2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

.description {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #42526e;
}

.coding-languages,
.frameworks,
.skills {
  display: flex;
  margin: 0.5rem;
  height: 352px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.coding-languages > div,
.frameworks > div,
.skills > div {
  margin: auto;
}

.btn-new {
  list-style-type: none;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-new li {
  background-color: white;
  margin: 0.3rem;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1.2rem;
}

.btn-new li a {
  color: #36b37e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

ul#btn1,
ul#btn2,
ul#btn3,
ul#btn4,
ul#btn5,
ul#btn6 {
  list-style-type: none;
  display: inline;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

#btn1 li {
  float: left;
}

.btn-btn {
  font-family: "inter", sans-serif;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  background: #36b37f;
  color: white;
  border-radius: 4px;
}

.divbtn-btn {
  padding: 10px;
  margin-bottom: 1rem;
}

.languages {
  flex-grow: 2;
  height: 40px;
  color: #3a4a42;
  border-style: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  background-color: #ebf0ee;
  margin: 2px;
}

.languages + .languages {
  margin-left: 25%;
  margin-left: 3px;
}

/* .technologies {
  color: #36b37e;
  height: 40px;
  border-style: none;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  background-color: white;
  display: inline-block;
  text-align: center;

} */

.lang-icon {
  width: 80px;
  height: 80px;
  background: #ebf0ee;
  box-sizing: border-box;
}

.res {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.resume:hover {
  transition: background-color 0.5s;
  background-color: #36b37f;
  opacity: 0.9;
  cursor: pointer;
}

.wrapper {
  display: grid;
  gap: 10px;
  place-items: center;
}

.container10 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  background: white;
  border-style: none;
}

#form {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  align-content: center;
}

#form li {
  margin-top: 1.2rem;
  margin-right: 1rem;
}

input#name,
input#mail {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 2rem;
  width: 250px;
}

::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #6b778c;
}

textarea#msg {
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  width: 250px;
}

.message {
  padding-top: 10px;
  font-family: "inter", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

footer {
  background-image: url("img/background3.png");
  background-repeat: no-repeat;
  background-position: right 65%;
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.connectfooter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-btn:hover {
  transition: background-color 0.5s;
  background-color: #36b37f;
  opacity: 0.9;
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#twitter2 {
  margin-top: 15px;
}

.contact {
  align-items: center;
}

.email {
  text-align: center;
  margin-left: 20px;
  color: #42526e;
}

.scroll_hide_desk {
  display: none;
}

@media (min-width: 1024px) {
  .background {
    background-image: url("img/background_desktop.svg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 60%;
  }

  main {
    max-width: 100%;
  }

  .scroll_hide_desk {
    display: none;
  }

  .logo {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .hide_mobile {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 0;
  }

  .hide_mobile li {
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .greeting {
    padding-top: 150px;
  }

  .connectfooter {
    margin-right: 300px;
    padding: 0%;
    margin-bottom: 1rem;
  }

  .connect {
    padding: 0;
  }

  .presentation + .greeting {
    margin-top: -150px;
  }

  .presentation {
    margin: 0 0;
    padding-top: 10px;
    font-size: 15px;
  }

  .indicator {
    display: none;
  }

  .scroll_hide_mobile {
    margin-bottom: 150px;
    margin-top: 50px;
  }

  .wrapper {
    max-width: 100%;
    grid-template-columns: repeat(3, 0.1fr);
    grid-gap: 1rem 1rem;
    grid-auto-rows: minmax(40px, auto);
    justify-content: center;
  }

  #aboutme {
    background-image: url("img/background_aboutme.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .resume-tech {
    display: flex;
    max-width: 68%;
  }

  .btn-new {
    padding: 0;
    margin-bottom: 0;
  }

  .btn-new li {
    margin: 0.3rem;
    padding: 0.6rem 0.4rem;
  }

  .coding-languages,
  .frameworks,
  .skills {
    inline-size: 100%;
    margin: 10px;
  }

  .container10 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .ruby {
    width: 92px;
  }

  .about h2 {
    margin-bottom: -6px;
    margin-top: 86px;
  }

  .message {
    font-size: 24px;
    line-height: 40px;
    text-align: start;
    padding-top: 50px;
    width: 396px;
    margin-left: 0;
  }

  .formme {
    padding-top: 16px;
  }

  #form {
    margin-right: -109px;
    margin-top: 0;
  }

  #form li {
    padding-right: 13px;
  }

  .getintouch {
    padding-right: 407px;
  }

  input#name,
  input#mail {
    width: 585px;
  }

  textarea#msg {
    width: 585px;
  }

  footer {
    max-width: 100%;
    justify-content: start;
    background: none;
    margin-left: 265px;
  }

  .email {
    display: none;
  }

  .btn-btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-weight: 500;
  }

  .divbtn-btn {
    padding: 10px;
    margin-bottom: 1rem;
  }
}
